<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
</head>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 welcome">Welcome</h1>
    <h4>On this site you can find songs or add new ones</h4>
</div>